code.keyword {
    border: 1px solid green;
    color: #336699;
    background-color: #F0F000;
    padding: 2px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px
}
